<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    
    <main>
      <div class="message-board">
        <h2>Message Board</h2>
        <% if (messages) { %>
          <% messages.forEach(message => { %>
            <div class="message">
              <h3><%= message.title %></h3>
              <p><%= message.text %></p>
              <% if (user && user.status !== "guest") { %>
                <p>From: <%= message.user.username %></p>
              <% } %>
              <hr>
              <p class="timestamp"><%= message.timestamp_formatted %></p>
            </div>
          <% }) %>
        <% } %>
      </div>
    </main>
  </body>
</html>
